# Backend requirements
fastapi
uvicorn[standard]
python-dotenv
email-validator

# Database dependencies
sqlalchemy
psycopg2-binary
alembic

# Authentication dependencies
bcrypt>=4.0.0
PyJWT

# ML/NLP dependencies (descomentar si se usan)
scikit-learn
joblib
pandas
numpy
# matplotlib
# seaborn

# LangChain dependencies
     
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0

langgraph>=0.1.0

langchain-openai>=0.1.0
langchain-ollama>=0.1.0

langchainhub>=0.1.15

chromadb
