# Backend requirements
fastapi
uvicorn[standard]
python-dotenv

# Database dependencies
sqlalchemy
psycopg2-binary
alembic

# Authentication dependencies
bcrypt>=4.0.0
PyJWT

# ML/NLP dependencies (descomentar si se usan)
# scikit-learn
# joblib
# pandas
# numpy
# matplotlib
# seaborn