# Backend requirements
fastapi
uvicorn[standard]
python-dotenv

# Database dependencies (PostgreSQL. Cambiar si se usa otra base de datos)
sqlalchemy
psycopg2-binary
alembic # para migraciones de base de datos

# Authentication dependencies
passlib[bcrypt]
PyJWT[crypto]

# ML/NLP dependencies (descomentar si se usan)
# scikit-learn
# joblib
# pandas
# numpy
# matplotlib
# seaborn